/* ----------------头部部分------------ */

header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px 100px;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    background-color: #fff;
}

header .music_play {
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #666666;
}

header .sheet_return a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

header .sheet_return {
    font-size: 3rem;
    width: 30px;
    height: 30px;
}

header p {
    font-size: 1.8rem;
}

main {
    margin-top: 50px;
    padding: 15px;
}

main .main_top {
    margin-bottom: 10px;
}

main .main_top h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 400;
}

main .main_top ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 0px;
}

main .main_top ul li {
    width: 33%;
}

main .main_top ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main_top ul li a p {
    width: 85%;
}


/* 创作翻唱 */

footer {
    padding: 15px;
}

footer .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_top h3 {
    font-size: 2rem;
    font-weight: 400;
}

footer .footer_top a {
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 1.3rem;
    border: 1px solid #afafaf;
    border-radius: 30px;
    color: #666666;
}

footer .footer_box {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin: 15px 0px;
}

footer .footer_box .left {
    width: 90px;
    height: 90px;
}

footer .footer_box .center {
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}

footer .footer_box .center>p {
    font-size: 2rem;
}

footer .footer_box .center .center_bottom {
    display: flex;
    align-items: center;
    gap: 0px 5px;
}

footer .footer_box .center .center_bottom .user {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

footer .footer_box .center .center_bottom .play {
    display: flex;
    margin-left: 40px;
    font-size: 1.3rem;
    color: #999999;
}

footer .footer_box .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border: 1px solid #afafaf;
    border-radius: 50%;
    font-size: 2.5rem;
    color: red;
}