header {
    display: flex;
    gap: 0px 20px;
    align-items: center;
    /* height: 60px; */
    padding: 10px;
}

header .search {
    width: 250px;
    height: 70%;
    border-radius: 30px;
    background-color: #efefef;
}

header .search a {
    display: flex;
    gap: 0px 5px;
    height: 30px;
    align-items: center;
    padding-left: 30px;
}

header .search a p {
    font-size: 1.5rem;
    color: #afafaf;
}

header a {
    font-size: 1.5rem;
    color: #5a5a5a;
}

header .mine {
    margin-left: 10px;
    color: #7c7c7c;
}


/* 热搜榜 */

main {
    padding: 10px;
}

main>p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

main ul li {
    display: flex;
    margin-bottom: 20px;
}

main ul li .li_box {
    width: 50%;
}

main ul li .li_box p:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

main ul li:nth-child(1) .li_box p:nth-child(1)::first-letter,
main ul li:nth-child(2) .li_box p:nth-child(1)::first-letter {
    color: red;
}

main ul li:nth-child(2) .li_box:nth-child(1) p:nth-child(1)::after,
main ul li:nth-child(1) .li_box:nth-child(1) p:nth-child(1)::after {
    content: "hot";
    color: red;
    display: inline-block;
    margin-left: 20px;
}

main ul li:nth-child(2) .li_box:nth-child(2) p:nth-child(1)::after,
main ul li:nth-child(1) .li_box:nth-child(2) p:nth-child(1)::after {
    content: "new";
    color: red;
    display: inline-block;
    margin-left: 20px;
}

main ul li .li_box p:nth-child(2) {
    padding-left: 13px;
    font-size: 1rem;
    color: #7c7c7c;
}