<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户未登录</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- 主页css样式 -->
    <link rel="stylesheet" href="../../css/account_number_notLogon.css">
    <!-- nav_top_bottom引入 -->
    <link rel="stylesheet" href="../../css/nav_top_bottom.css">
</head>

<body>
    <div class="header">
        <div class="header_top">
            <div class="top_left">
                <ion-icon name="scan-outline"></ion-icon>
            </div>
            <div class="top_right">
                <p>开通黑椒vip&gt;</p>
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/music_play.jpg" alt="" style="width: 100%; height: 100%;">
                </a>
            </div>
        </div>
        <div class="header_center">
            <div class="center_top">
                <div class="cunter_left">
                    <p>开通黑椒VIP</p>
                    <P>加入黑椒VIP，立享超17项专属特权</P>
                </div>
                <div class="cunter_right">
                    <p>会员中心</p>
                </div>
            </div>
            <div class="center_top center_bottom">
                <div class="cunter_left">
                    <p>首开会员仅8元，尊享17项特权</p>
                    <P>即刻拥有海量会员曲库，CD级无损音质</P>
                </div>
                <div class="cunter_right">
                    <div>CD</div>
                    <span>&gt;</span>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="main_header">
            <div class="header_left">
                <p>手机电脑多端同步，尽享海量高品质音乐</p>
            </div>
            <div class="header_right">
                <a href="../一级页面/login.html">
                    <p>立即登录</p>
                </a>
            </div>
        </div>
        <!-- 我的信息我的好友个人主页 -->
        <div class="main_nav">
            <div class="nav_box">
                <div class="box_icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>
                <p>我的信息</p>
            </div>
            <div class="nav_box">
                <div class="box_icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <p>我的好友</p>
            </div>
            <div class="nav_box">
                <div class="box_icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <p>个人主页</p>
            </div>
            <div class="nav_box">
                <div class="box_icon">
                    <ion-icon name="shirt-outline"></ion-icon>
                </div>
                <p>个性装扮</p>
            </div>
        </div>
        <!-- 创作者中心 -->
        <div class="create">
            <div class="create_left">
                <div class="create_icon">
                    <ion-icon name="planet-outline"></ion-icon>
                </div>
                <p>创作者中心</p>
            </div>
            <div class="create_right">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
        </div>
        <!-- 音乐服务 -->
        <div class="service">
            <p>音乐服务</p>
            <ul>
                <li>
                    <div class="li_icon">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>演出</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>商城</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>口袋彩铃</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="headset-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>在线免费听歌免流量</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 小工具 -->
        <div class="service">
            <p>小工具</p>
            <ul>
                <li>
                    <div class="li_icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>设置</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="alarm-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>定时关闭</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="trash-bin-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>黑名单</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="headset-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>鲸云音效</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="alarm-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>音乐闹钟</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="happy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>青少年模式</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ----- -->
        <div class="service">

            <ul>
                <li>
                    <div class="li_icon">
                        <ion-icon name="document-text-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>我的订单</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>优惠卷</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="arrow-redo-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>分享云音乐</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <p>关于</p>
                        <div class="text_icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p></p>
    </footer>

    <!-- 底部固定导航栏部分 -->
    <nav>
        <section>
            <a href="../首页/index.html">
                <div class="icon">
                    <ion-icon name="earth-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>发现</p>
            </a>
        </section>
        <section>
            <a href="../子页面/video.html">
                <div class="icon">
                    <ion-icon name="videocam-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>视频</p>
            </a>
        </section>
        <section>
            <a href="../子页面/main_notLogin.html">
                <div class="icon">
                    <ion-icon name="musical-notes-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>我的</p>
            </a>
        </section>
        <section>
            <a href="../子页面/cloud.html">
                <div class="icon">
                    <ion-icon name="people-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>云村</p>
            </a>
        </section>
        <section>
            <a href="../子页面/account_number_logon.html">
                <div class="icon">
                    <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>账号</p>
            </a>
        </section>
    </nav>
</body>

</html>