<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云村</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- 主页css样式 -->
    <link rel="stylesheet" href="../../css/cloud.css">
    <!-- nav_top_bottom引入 -->
    <link rel="stylesheet" href="../../css/nav_top_bottom.css">
</head>

<body>
    <div class="header">
        <div class="headr_Box">
            <div class="header_left">
                <ion-icon name="person-add-outline"></ion-icon>
            </div>
            <div class="header_center">
                <p>广场</p>
                <p>关注</p>
            </div>
            <!-- 播放界面 -->
            <div class="play_Music">
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
                </a>
            </div>
        </div>
        <div class="search">
            <!-- 搜索框跳转 -->
            <a href="../子页面/search.html">
                <ion-icon name="search-outline" style="font-size: 1.8rem; color: #afafaf;"></ion-icon>
                <p>有哪些前奏适合当铃声</p>
            </a>
        </div>
    </div>
    <main>
        <div class="main_header">
            <div class="header_left">
                <p>云村热评墙&emsp;&gt;</p>
                <a href="../子页面/music_Play.html">into The Fire(Origina! Mix)&gt;</a>
            </div>
            <div class="header_right">
                <p>JuI.</p>
                <p>14</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="../子页面/music_Play.html">
                    <div class="li_img">
                        <img src="../../assetes/images/u850.png" alt="" style="width: 100%;" height="100%">
                    </div>
                    <p>耗时爆肝超然踩点!?算了你们还是听听吧!</p>
                    <div class="user">
                        <div class="user_img">
                            <img src="../../assetes/images/github.png" alt="" style="width: 100%;" height="100%">
                        </div>
                        <p>木子酱</p>
                        <p>7011赞</p>
                        <div class="user_icon">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </main>
    <!-- 加载界面 -->
    <div class="load">
        <div class="load_icon">
            <ion-icon name="reload-outline"></ion-icon>
        </div>
        <p>正在加载</p>
    </div>



















    <!-- 底部固定导航栏部分 -->
    <nav>
        <section>
            <a href="../首页/index.html">
                <div class="icon">
                    <ion-icon name="earth-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>发现</p>
            </a>
        </section>
        <section>
            <a href="../子页面/video.html">
                <div class="icon">
                    <ion-icon name="videocam-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>视频</p>
            </a>
        </section>
        <section>
            <a href="../子页面/mine.html">
                <div class="icon">
                    <ion-icon name="musical-notes-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>我的</p>
            </a>
        </section>
        <section>
            <a href="../子页面/cloud.html">
                <div class="icon">
                    <ion-icon name="people-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>云村</p>
            </a>
        </section>
        <section>
            <a href="../子页面/account_number_logon.html">
                <div class="icon">
                    <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>账号</p>
            </a>
        </section>
    </nav>
</body>

</html>