<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的已经登陆</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- css样式 -->
    <link rel="stylesheet" href="../../css/main.css">
    <!-- nav_top_bottom引入 -->
    <link rel="stylesheet" href="../../css/nav_top_bottom.css">
</head>

<body>
    <div class="header">
        <div class="header_top">
            <div class="user">
                <div class="user_img">
                    <img src="../../assetes/images/github.png" alt="" width="100%" height="100%">
                </div>
                <div class="user_text">
                    <p>FØund404</p>
                    <span>VIP</span>
                    <span>Lv.0</span>
                </div>
            </div>
            <p>开通黑椒VIP&gt;</p>
        </div>
        <div class="header_bottom">
            <ul>
                <li>
                    <div class="li_icon">
                        <ion-icon name="arrow-down-circle-outline"></ion-icon>
                    </div>
                    <p>本地音乐</p>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="musical-notes-outline"></ion-icon>
                    </div>
                    <p>我的电台</p>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="star-outline"></ion-icon>
                    </div>
                    <p>我的收藏</p>
                </li>
                <li>
                    <div class="li_icon">
                        <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <p>关注新歌</p>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <div class="main_header">
            <p>我的音乐</p>
            <p>更多&gt;&gt;</p>
        </div>
        <div class="my_music">
            <div class="myMusic_box">
                <!-- 图标 -->
                <div class="myMusic_top">
                    <div class="myMusic_icon">
                        <ion-icon name="heart"></ion-icon>
                    </div>
                    <p>我喜欢的音乐</p>
                </div>
                <div class="myMusic_bottom">
                    <div class="icon">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <p>心动模式</p>
                </div>
            </div>
            <div class="myMusic_box">
                <!-- 图标 -->
                <div class="myMusic_top">
                    <div class="myMusic_icon">
                        <ion-icon name="radio-outline"></ion-icon>
                    </div>
                    <p>私人FM</p>
                </div>
                <div class="myMusic_bottom">
                    <p>听点新鲜的</p>
                </div>
            </div>
            <div class="myMusic_box">
                <!-- 图标 -->
                <div class="myMusic_top">
                    <p>推荐</p>
                    <div class="myMusic_icon">
                        <ion-icon name="car-sport"></ion-icon>
                    </div>
                    <p>驾驶模式</p>
                </div>
                <div class="myMusic_bottom">
                    <p>开车安全模式</p>
                </div>
            </div>
        </div>
        <!-- 最近播放 -->
        <div class="lately_play">
            <div class="lately_text">
                <p>最近播放</p>
                <p>更多&gt;&gt;</p>
            </div>
            <section>
                <div class="lately_Box">
                    <div class="lately_">
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                        <div class="lately_box">
                            <div class="box_left">
                                <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <div class="box_right">
                                <p>全部已播放歌曲9首</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- 推荐歌单 -->
        <div class="recommend">
            <p>推荐歌单</p>
            <ul>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
                <li>
                    <div class="li_img">
                        <p>热歌榜</p>
                    </div>
                    <div class="text">
                        <p>云音乐热歌榜</p>
                        <p>本周最热歌曲</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 加载界面 -->
        <div class="load">
            <div class="load_icon">
                <ion-icon name="reload-outline"></ion-icon>
            </div>
            <p>正在加载</p>
        </div>
    </main>


    <!-- 底部固定导航栏部分 -->
    <nav>
        <section>
            <a href="../首页/index.html">
                <div class="icon">
                    <ion-icon name="earth-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>发现</p>
            </a>
        </section>
        <section>
            <a href="../子页面/video.html">
                <div class="icon">
                    <ion-icon name="videocam-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>视频</p>
            </a>
        </section>
        <section>
            <a href="../子页面/mine.html">
                <div class="icon">
                    <ion-icon name="musical-notes-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>我的</p>
            </a>
        </section>
        <section>
            <a href="../子页面/cloud.html">
                <div class="icon">
                    <ion-icon name="people-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>云村</p>
            </a>
        </section>
        <section>
            <a href="../子页面/account_number_logon.html">
                <div class="icon">
                    <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>账号</p>
            </a>
        </section>
    </nav>
</body>

</html>