<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- 主页css样式 -->
    <link rel="stylesheet" href="../../css/music_play.css">
</head>

<body>
    <header>
        <div class="return">
            <a href="../首页/index.html">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="center">
            <p>into The Fire(Origina! Mix)</p>
            <p>VINAI/Anjulie&gt;</p>
        </div>
        <div class="right">
            <a href="../子页面/mine.html">
                <img src="../../assetes/images/github.png" alt="" width="100%" height="100%">
            </a>
            <div class="right_icon">
                <ion-icon name="arrow-redo-outline"></ion-icon>
            </div>
        </div>
    </header>
    <main>
        <div class="play_top">
            <img src="../../assetes/images/打碟杆_u1404.png" alt="" width="100%">
        </div>
        <div class="music_play">
            <div class="play_img">
                <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
            </div>
        </div>
        <div class="play_bottom">
            <div class="bottom_icon">
                <ion-icon name="heart" style="color: red;"></ion-icon>
            </div>
            <div class="bottom_icon">
                <ion-icon name="download-outline"></ion-icon>
            </div>
            <div class="bottom_icon">
                <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="bottom_icon">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            </div>
            <div class="bottom_icon">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_progress">
            <p>00:00</p>
            <div class="progress">
                <div class="box"></div>
            </div>
            <p>02:44</p>
        </div>
        <div class="footer_control">
            <div class="left">
                <ion-icon name="repeat-outline"></ion-icon>
            </div>
            <div class="center">
                <ion-icon name="play-skip-back-circle-outline"></ion-icon>
                <ion-icon name="pause-circle-outline"></ion-icon>
                <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
            </div>
            <div class="right">
                <ion-icon name="reorder-four-outline"></ion-icon>
            </div>
        </div>

    </footer>
</body>

</html>