<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主播电台</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- css样式 -->
    <link rel="stylesheet" href="../../css/radio_station.css">
</head>

<body>
    <!-- 头部 -->
    <header>
        <div class="sheet_return">
            <a href="../首页/index.html">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <p>主播电台</p>
        <a href="../子页面/music_Play.html">
            <div class="music_play">
                <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
            </div>
        </a>
    </header>
    <main>
        <!-- 听一听 -->
        <div class="main_top">
            <h3>听听&gt;</h3>
            <ul>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u315.png" alt="">
                        </div>
                        <p>时光为什么流式的这么快</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u321.png" alt="">
                        </div>
                        <p>遇见温柔的声音,Ta在哪里</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u324.png" alt="">
                        </div>
                        <p>每天叫你起床是什么</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 电台推荐 -->
        <div class="main_top">
            <h3>电台推荐&gt;</h3>
            <ul>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u1011.png" alt="">
                        </div>
                        <p>时光为什么流式的这么快</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u1014.png" alt="">
                        </div>
                        <p>遇见温柔的声音,Ta在哪里</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u1023.png" alt="">
                        </div>
                        <p>每天叫你起床是什么</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u315.png" alt="">
                        </div>
                        <p>时光为什么流式的这么快</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u321.png" alt="">
                        </div>
                        <p>遇见温柔的声音,Ta在哪里</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="../../assetes/images/u324.png" alt="">
                        </div>
                        <p>每天叫你起床是什么</p>
                    </a>
                </li>
            </ul>
        </div>
    </main>

    <!-- 创作/翻唱 -->
    <footer>
        <div class="footer_top">
            <h3>创作|翻唱&gt;</h3>
            <a href="#">播放全部</a>
        </div>
        <div class="footer_box">
            <div class="left">
                <img src="../../assetes/images/u1011.png" alt="" width="100%" height="100%">
            </div>
            <div class="center">
                <p>时光流逝</p>
                <div class="center_bottom">
                    <div class="user">
                        <img src="../../assetes/images/u350.png" alt="" width="100%" height="100%">
                    </div>
                    <p>Gfriend</p>
                    <div class="play">
                        <div class="icon">
                            <ion-icon name="headset-outline"></ion-icon>
                        </div>
                        <p>
                            170.7万
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <ion-icon name="play"></ion-icon>
            </div>
        </div>
        <div class="footer_box">
            <div class="left">
                <img src="../../assetes/images/u1011.png" alt="" width="100%" height="100%">
            </div>
            <div class="center">
                <p>时光流逝</p>
                <div class="center_bottom">
                    <div class="user">
                        <img src="../../assetes/images/u350.png" alt="" width="100%" height="100%">
                    </div>
                    <p>Gfriend</p>
                    <div class="play">
                        <div class="icon">
                            <ion-icon name="headset-outline"></ion-icon>
                        </div>
                        <p>
                            170.7万
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <ion-icon name="play"></ion-icon>
            </div>
        </div>
        <div class="footer_box">
            <div class="left">
                <img src="../../assetes/images/u1011.png" alt="" width="100%" height="100%">
            </div>
            <div class="center">
                <p>时光流逝</p>
                <div class="center_bottom">
                    <div class="user">
                        <img src="../../assetes/images/u350.png" alt="" width="100%" height="100%">
                    </div>
                    <p>Gfriend</p>
                    <div class="play">
                        <div class="icon">
                            <ion-icon name="headset-outline"></ion-icon>
                        </div>
                        <p>
                            170.7万
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <ion-icon name="play"></ion-icon>
            </div>
        </div>
    </footer>
</body>

</html>