<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>每日推荐</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- 主页css样式 -->
    <link rel="stylesheet" href="../../css/recommend.css">

</head>

<body>
    <header>
        <div class="header_Box">
            <div class="header_bg">
                <img src="../../assetes/images/u130.png" alt="" width="100%" height="100%">
            </div>
            <div class="header_top">
                <div class="top_return">
                    <a href="../首页/index.html">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                </div>
                <div class="top_main">
                    <a href="../子页面/music_Play.html">
                        <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
                    </a>
                </div>
            </div>
            <!-- 每日推荐 -->
            <div class="recommend">
                <div class="recommend_box">
                    <div class="re_top">
                        <p>19</p>
                        <p>/12</p>
                    </div>
                    <div class="re_bottom">
                        <p>历史推荐</p>
                        <p>CVIP</p>
                    </div>
                </div>
                <div class="more">
                    <div class="more_box">
                        <img src="../../assetes/images/u205.png" alt="" width="100%" height="100%">
                    </div>
                    <div class="more_box">
                        <img src="../../assetes/images/u198.png" alt="" width="100%" height="100%">
                    </div>
                    <div class="more_box">
                        <img src="../../assetes/images/u315.png" alt="" width="100%" height="100%">
                    </div>
                    <div class="more_icon">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div class="main_top">
            <div class="main_top_left">
                <ion-icon name="caret-forward-circle-outline"></ion-icon>
                <p>播放全部</p>
            </div>
            <div class="main_top_right">
                <ion-icon name="list-outline"></ion-icon>
                <p>多选</p>
            </div>
        </div>
        <div class="main_bottom">
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="bottom_box">
                <div class="box_img">
                    <img src="../../assetes/images/u230.png" alt="" height="100%" width="100%">
                </div>
                <div class="box_text">
                    <p>时光流逝</p>
                    <p>独家</p>
                    <p>Gfriend MV专辑</p>
                </div>
                <div class="box_icon">
                    <div class="box_play">
                        <ion-icon name="caret-forward-circle-outline"></ion-icon>
                    </div>
                    <div class="box_more">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>