<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- css样式 -->
    <link rel="stylesheet" href="../../css/search.css">

</head>

<body>
    <!-- 顶部搜索部分 -->
    <header>
        <div class="search">
            <!-- 搜索框跳转 -->
            <a href="javaScript:;">
                <ion-icon name="search-outline" style="font-size: 1.8rem; color: #afafaf;"></ion-icon>
                <p>时光流逝</p>
            </a>
        </div>
        <a href="../首页/index.html">取消</a>
        <div class="mine">
            <a href="../子页面/mine.html">
                <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
            </a>
        </div>
    </header>
    <main>
        <p>热搜榜</p>
        <ul>
            <li>
                <div class="li_box">
                    <p>1.时光流逝</p>
                    <p>最美好的时光,慢慢流逝</p>
                </div>
                <div class="li_box">
                    <p>2.官方回答</p>
                    <p>我用官方回答了她的废话</p>
                </div>
            </li>
            <li>
                <div class="li_box">
                    <p>3.陈奕迅</p>
                    <p>新版新歌听了吗</p>
                </div>
                <div class="li_box">
                    <p>4.海底</p>
                    <p>温柔的人会将你带离海底</p>
                </div>
            </li>
            <li>
                <div class="li_box">
                    <p>5.关键字</p>
                    <p>新版新歌听了吗</p>
                </div>
                <div class="li_box">
                    <p>6.小布海</p>
                    <p>初音未来之歌声</p>
                </div>
            </li>
            <li>
                <div class="li_box">
                    <p>7.喜欢你</p>
                    <p>我喜欢你的心</p>
                </div>
                <div class="li_box">
                    <p>8.情人</p>
                    <p>气氛瞬间胜过</p>
                </div>
            </li>
            <li>
                <div class="li_box">
                    <p>9.没有人</p>
                    <p>新版新歌听了么</p>
                </div>
                <div class="li_box">
                    <p>9.Gfriend</p>
                    <p>初音未来之歌声</p>
                </div>
            </li>
            <li>
                <div class="li_box">
                    <p>10.天下</p>
                    <p>一起感受张杰的壮志凌云</p>
                </div>

            </li>
        </ul>
    </main>
</body>

</html>