<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歌单广场</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- css样式 -->
    <link rel="stylesheet" href="../../css/song_sheet.css">
</head>

<body>
    <!-- 头部 -->
    <header>
        <div class="sheet_return">
            <a href="../首页/index.html">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <p>歌单广场</p>
        <a href="../子页面/music_Play.html">
            <div class="music_play">
                <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
            </div>
        </a>
    </header>
    <!-- 分类 -->
    <nav>
        <ul>
            <li class="xuanZhong">
                <p>推荐</p>
            </li>
            <li>
                <p>官方</p>
            </li>
            <li>
                <p>精品</p>
            </li>
            <li>
                <p>华语</p>
            </li>
            <li>
                <p>流行</p>
            </li>
            <li>
                <p>民谣</p>
            </li>
        </ul>
    </nav>
    <!-- 内容 -->
    <main>
        <div class="main_top">
            <div class="top_left">
                <div class="img">
                    <img src="../../assetes/images/u828.png" alt="" style="width: 100%; height: 100%;">
                </div>
                <p>耳机里的温柔乡,歌曲好听</p>
            </div>
            <div class="top_center">
                <div class="play">
                    <ion-icon name="play"></ion-icon>
                </div>
                <div class="img">
                    <img src="../../assetes/images/u806.png" alt="" style="width: 100%; height: 100%;">
                </div>
                <p>音乐祭典,美好的青春宛如初见爱情</p>
            </div>
            <div class="top_right">
                <div class="img">
                    <img src="../../assetes/images/u850.png" alt="" style="width: 100%; height: 100%;">
                </div>
                <p>这是有温柔似水的君当初见</p>
            </div>
        </div>
        <div class="main_bottom">
            <ul>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u196.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u315.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u321.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u324.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u193.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u198.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u828.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u324.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u198.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u198.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>
                <li>
                    <div class="li_img">
                        <img src="../../assetes/images/u828.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>今天和喜欢的人说话了吗</p>
                </li>

            </ul>
        </div>
    </main>
</body>

</html>