<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- css样式 -->
    <link rel="stylesheet" href="../../css/video.css">
    <!-- nav_top_bottom引入 -->
    <link rel="stylesheet" href="../../css/nav_top_bottom.css">
</head>

<body>
    <!-- 顶部搜索部分----------------------------------------- -->
    <header>
        <div class="Microphone">
            <ion-icon name="mic-outline" style="font-size: 3rem; color: #afafaf;"></ion-icon>
        </div>
        <div class="search">
            <!-- 搜索框跳转 -->
            <a href="../子页面/search.html">
                <ion-icon name="search-outline" style="font-size: 1.8rem; color: #afafaf;"></ion-icon>
                <p>搜最近很火哦</p>
            </a>
        </div>
        <!-- 播放界面 -->
        <div class="play_Music">
            <a href="../子页面/music_Play.html">
                <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
            </a>
        </div>
    </header>
    <!-- 分类 -->
    <div class="fenLei">
        <ul>
            <li class="xuanZhong">
                <p>推荐</p>
            </li>
            <li>
                <p>LOOK直播</p>
            </li>
            <li>
                <p>年少有为</p>
            </li>
            <li>
                <p>饭圈</p>
            </li>
            <li>
                <p>翻唱</p>
            </li>
            <li>
                <p>舞蹈</p>
            </li>
        </ul>
    </div>
    <!-- 内容部分 -->
    <main>
        <div class="main_Box">
            <div class="box_top">
                <div class="video">
                    <!-- 封面 -->
                    <img src="../../assetes/images/u130.png" alt="" style="width: 100%; height: 100%;">
                    <div class="icon po_a">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <div class="play_math po_a">
                        <div class="play_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                        <p>
                            1122
                        </p>
                    </div>
                    <div class="play_time po_a">
                        <div class="play_icon">
                            <ion-icon name="stats-chart"></ion-icon>
                        </div>
                        <p>
                            01:45
                        </p>
                    </div>
                </div>
            </div>
            <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
            <div class="box_bottom">
                <div class="bottom_left">
                    <div class="user">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>木子</p>
                </div>
                <div class="bottom_right">
                    <div class="bottom_icon">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </div>
                    <div class="bottom_icon">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_Box">
            <div class="box_top">
                <div class="video">
                    <!-- 封面 -->
                    <img src="../../assetes/images/u132.png" alt="" style="width: 100%; height: 100%;">
                    <div class="icon po_a">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <div class="play_math po_a">
                        <div class="play_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                        <p>
                            1122
                        </p>
                    </div>
                    <div class="play_time po_a">
                        <div class="play_icon">
                            <ion-icon name="stats-chart"></ion-icon>
                        </div>
                        <p>
                            01:45
                        </p>
                    </div>
                </div>
            </div>
            <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
            <div class="box_bottom">
                <div class="bottom_left">
                    <div class="user">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>木子</p>
                </div>
                <div class="bottom_right">
                    <div class="bottom_icon">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </div>
                    <div class="bottom_icon">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_Box">
            <div class="box_top">
                <div class="video">
                    <!-- 封面 -->
                    <img src="../../assetes/images/u134.png" alt="" style="width: 100%; height: 100%;">
                    <div class="icon po_a">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <div class="play_math po_a">
                        <div class="play_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                        <p>
                            1122
                        </p>
                    </div>
                    <div class="play_time po_a">
                        <div class="play_icon">
                            <ion-icon name="stats-chart"></ion-icon>
                        </div>
                        <p>
                            01:45
                        </p>
                    </div>
                </div>
            </div>
            <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
            <div class="box_bottom">
                <div class="bottom_left">
                    <div class="user">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>木子</p>
                </div>
                <div class="bottom_right">
                    <div class="bottom_icon">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </div>
                    <div class="bottom_icon">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_Box">
            <div class="box_top">
                <div class="video">
                    <!-- 封面 -->
                    <img src="../../assetes/images/u135.png" alt="" style="width: 100%; height: 100%;">
                    <div class="icon po_a">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <div class="play_math po_a">
                        <div class="play_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                        <p>
                            1122
                        </p>
                    </div>
                    <div class="play_time po_a">
                        <div class="play_icon">
                            <ion-icon name="stats-chart"></ion-icon>
                        </div>
                        <p>
                            01:45
                        </p>
                    </div>
                </div>
            </div>
            <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
            <div class="box_bottom">
                <div class="bottom_left">
                    <div class="user">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>木子</p>
                </div>
                <div class="bottom_right">
                    <div class="bottom_icon">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </div>
                    <div class="bottom_icon">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_Box">
            <div class="box_top">
                <div class="video">
                    <!-- 封面 -->
                    <img src="../../assetes/images/u130.png" alt="" style="width: 100%; height: 100%;">
                    <div class="icon po_a">
                        <ion-icon name="play"></ion-icon>
                    </div>
                    <div class="play_math po_a">
                        <div class="play_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                        <p>
                            1122
                        </p>
                    </div>
                    <div class="play_time po_a">
                        <div class="play_icon">
                            <ion-icon name="stats-chart"></ion-icon>
                        </div>
                        <p>
                            01:45
                        </p>
                    </div>
                </div>
            </div>
            <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
            <div class="box_bottom">
                <div class="bottom_left">
                    <div class="user">
                        <img src="../../assetes/images/u318.png" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <p>木子</p>
                </div>
                <div class="bottom_right">
                    <div class="bottom_icon">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </div>
                    <div class="bottom_icon">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 加载界面 -->
    <div class="load">
        <div class="load_icon">
            <ion-icon name="reload-outline"></ion-icon>
        </div>
        <p>正在加载</p>
    </div>
    <!-- 底部固定导航栏部分------------------------------------------ -->
    <nav>
        <section>
            <a href="../首页/index.html">
                <div class="icon">
                    <ion-icon name="earth-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>发现</p>
            </a>
        </section>
        <section>
            <a href="../子页面/video.html">
                <div class="icon">
                    <ion-icon name="videocam-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>视频</p>
            </a>
        </section>
        <section>
            <a href="../子页面/mine.html">
                <div class="icon">
                    <ion-icon name="musical-notes-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>我的</p>
            </a>
        </section>
        <section>
            <a href="../子页面/cloud.html">
                <div class="icon">
                    <ion-icon name="people-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>云村</p>
            </a>
        </section>
        <section>
            <a href="../子页面/account_number_logon.html">
                <div class="icon">
                    <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>账号</p>
            </a>
        </section>
    </nav>
    <script>
        // 获取li元素
        let fenLei = document.querySelector('.fenLei').querySelectorAll('li');
        // 排他思想当点击某个li之前先将所有li的class类名取消,然后再给此li附加类名
        for (let i = 0; i < fenLei.length; i++) {
            fenLei[i].addEventListener('click', function() {
                for (let i = 0; i < fenLei.length; i++) {
                    fenLei[i].className = '';
                }
                fenLei[i].className = 'xuanZhong';
            })
        };
    </script>
</body>

</html>