<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>已登陆页面</title>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../../css/Default_style.css">
    <!-- 主页css样式 -->
    <link rel="stylesheet" href="../../css/index.css">
    <!-- nav_top_bottom引入 -->
    <link rel="stylesheet" href="../../css/nav_top_bottom.css">
</head>

<body>
    <!-- 顶部搜索部分 -->
    <header>
        <div class="Microphone">
            <ion-icon name="mic-outline" style="font-size: 3rem; color: #afafaf;"></ion-icon>
        </div>
        <div class="search">
            <!-- 搜索框跳转 -->
            <a href="../子页面/search.html">
                <ion-icon name="search-outline" style="font-size: 1.8rem; color: #afafaf;"></ion-icon>
                <p>搜最近很火哦</p>
            </a>
        </div>
        <!-- 播放界面 -->
        <div class="play_Music">
            <a href="../子页面/music_Play.html">
                <img src="../../assetes/images/music_play.jpg" alt="" width="100%" height="100%">
            </a>
        </div>
    </header>
    <!-- -------------------------------------------------------------------- -->
    <!-- 内容部分 -->
    <main>
        <!-- 轮播图 -->
        <div class="scroll">
            <div class="scroll-View">
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/u130.png" alt="" width="100%" height="100%">
                </a>
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/u132.png" alt="" width="100%" height="100%">
                </a>
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/u134.png" alt="" width="100%" height="100%">
                </a>
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/u135.png" alt="" width="100%" height="100%">
                </a>
                <a href="../子页面/music_Play.html">
                    <img src="../../assetes/images/u130.png" alt="" width="100%" height="100%">
                </a>
            </div>
        </div>
        <!-- 每日推荐，歌单，排行榜。。。 -->
        <div class="top_Nav">
            <section>
                <div class="topNav_icon">
                    <a href="../子页面/recommend.html">
                        <ion-icon name="calendar-number"></ion-icon>
                    </a>
                </div>
                <p>每日推荐</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="../子页面/song_sheet.html">
                        <ion-icon name="musical-notes"></ion-icon>
                    </a>
                </div>
                <p>歌单</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="../子页面/Ranking.html">
                        <ion-icon name="bar-chart"></ion-icon>
                    </a>
                </div>
                <p>排行榜</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="../子页面/radio_station.html">
                        <ion-icon name="barcode"></ion-icon>
                    </a>
                </div>
                <p>电台</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="../子页面/video.html">
                        <ion-icon name="videocam"></ion-icon>
                    </a>
                </div>
                <p>直播</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="#">
                        <ion-icon name="flame"></ion-icon>
                    </a>
                </div>
                <p>火钳刘明</p>
            </section>
            <section>
                <div class="topNav_icon">
                    <a href="#">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </a>
                </div>
                <p>畅聊</p>
            </section>
        </div>


        <!-- 你的精选歌单站 -->
        <div class="song_Sheet">
            <div class="sheet_Top">
                <p>你的精选歌单站</p>
                <!-- 跳转到歌单广场 -->
                <a href="../子页面/song_sheet.html">查看更多</a>
            </div>
            <div class="sheet_Bottom">
                <div class="sheet_box">
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u193.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p> 乘风破浪会有时,唱歌是一种怎么样的体验啊啊啊</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u196.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p> 中国偶像黄金年代</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u199 (1).png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            乘风破浪会有时
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u198.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            乘风破浪会有时
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u205.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            乘风破浪会有时
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u198.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            乘风破浪会有时
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u205.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            乘风破浪会有时
                        </a>
                    </section>
                </div>
            </div>
        </div>
        <!-- 他们把故事唱成了歌曲 -->
        <div class="song_SheetMain">
            <div class="sheetmain_Top">
                <p>他们把故事唱成了歌曲</p>
                <!-- 跳转到播放界面 -->
                <a href="../子页面/music_Play.html">
                    <ion-icon name="play" style="font-size: 1.5rem;"></ion-icon>
                    <span>播放全部</span>
                </a>
            </div>
            <div class="sheetmain_bottom">
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u230.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u239.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u248.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
            </div>

        </div>

        <!-- 饮一杯民谣，不醉不归 -------------------------------->
        <!-- 你的精选歌单站 -->
        <div class="song_Sheet">
            <div class="sheet_Top">
                <p>饮一杯民谣，不醉不归</p>
                <!-- 跳转到歌单广场 -->
                <a href="../子页面/song_sheet.html">查看更多</a>
            </div>
            <div class="sheet_Bottom">
                <div class="sheet_box">
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u315.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p>今天和喜欢的人说话了吗</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u318.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p>最懂你的华语歌曲推荐</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u321.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p>令人心动的宝藏歌曲，每日推荐</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u324.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p>DNF背景音乐下载(新旧版本都有)</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u315.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p> 乘风破浪会有时</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u318.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p> 乘风破浪会有时</p>
                        </a>
                    </section>
                    <section>
                        <!-- 歌单封面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u321.png" alt="">
                        </a>
                        <a href="../子页面/music_Play.html">
                            <p> 乘风破浪会有时</p>
                        </a>
                    </section>
                </div>
            </div>
        </div>
        <!-- 他们把故事唱成了歌曲 -->
        <div class="song_SheetMain">
            <div class="sheetmain_Top">
                <p>他们把故事唱成了歌曲</p>
                <!-- 跳转到播放界面 -->
                <a href="../子页面/music_Play.html">
                    <ion-icon name="play" style="font-size: 1.5rem;"></ion-icon>
                    <span>播放全部</span>
                </a>
            </div>
            <div class="sheetmain_bottom">
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u350.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u359.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
                <section>
                    <div class="sheetmain_Img">
                        <!-- 跳转到播放界面 -->
                        <a href="../子页面/music_Play.html">
                            <img src="../../assetes/images/u368.png" alt="">
                        </a>
                    </div>
                    <div class="sheetmain_Center">
                        <div class="top">
                            <p>夏天的风</p>
                            <p>-木子酱</p>
                        </div>
                        <div class="bottom">
                            <p>SQ</p>
                            <p>永远记得你牵着我的手笑的样子</p>
                        </div>
                    </div>
                    <!-- 跳转到播放界面 -->
                    <div class="sheetmain_Play">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </section>
            </div>
        </div>
        <!-- 加载界面 -->
        <div class="load">
            <div class="load_icon">
                <ion-icon name="reload-outline"></ion-icon>
            </div>
            <p>正在加载</p>
        </div>

        <!-- ---------------------------------------------------------------- -->
    </main>
    <!-- 底部固定导航栏部分 -->
    <nav>
        <section>
            <a href="../首页/index.html">
                <div class="icon">
                    <ion-icon name="earth-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>发现</p>
            </a>
        </section>
        <section>
            <a href="../子页面/video.html">
                <div class="icon">
                    <ion-icon name="videocam-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>视频</p>
            </a>
        </section>
        <section>
            <a href="../子页面/mine.html">
                <div class="icon">
                    <ion-icon name="musical-notes-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>我的</p>
            </a>
        </section>
        <section>
            <a href="../子页面/cloud.html">
                <div class="icon">
                    <ion-icon name="people-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>云村</p>
            </a>
        </section>
        <section>
            <a href="../子页面/account_number_logon.html">
                <div class="icon">
                    <ion-icon name="person-outline" style="font-size: 2.5rem;"></ion-icon>
                </div>
                <p>账号</p>
            </a>
        </section>
    </nav>
</body>

</html>